.admin {
  text-align: left;
  background-color: #ffffff;
  height: 100vh;
  overflow: scroll;

  .blogs-header-bar {
    display: flex;
    align-items: center;
  }

  th {
    border: 0 !important;
  }

  td {
    border: 0 !important;
  }

  th,
  td {
    padding: 40px;
  }

  .blogDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8b8b8b52;
    border-radius: 10px;
    padding: 20px;
  }
}