.blogPage {
  overflow: hidden;
  background-color: #ffffff;

  .preview {

    p {
      padding: 20px;
    }

  }

  ul li {
    float: left;
    padding: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .blog-title {
    padding: 20px;
  }

  .title-container {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);

    .Reading {
      background-color: $lightBlue;
      border: 1px solid $darkBlue;
      color: $darkPurple;
      font-weight: 700;
    }

    .Math {
      background-color: #C0BCFD;
      border: 1px solid rgb(88, 77, 255);
      color: $darkPurple;
      font-weight: 700;
    }

    .Holidays {

      background-color: #FDBCD6;
      border: 1px solid rgb(250, 104, 162);
      color: $darkPurple;
      font-weight: 700;
    }

    .Writing {

      background-color: #FDF7BC;
      border: 1px solid rgb(248, 235, 113);
      color: $darkPurple;
      font-weight: 700;
    }

    .Ideas {
      background-color: #FDD2BC;
      border: 1px solid rgb(250, 145, 93);
      ;
      color: $darkPurple;
      font-weight: 700;
    }
  }

  .social-icons {
    background: none;
    color: $darkPurple;
    border: none;
    font-size: 20px;
    padding-top: 20px;
    text-transform: none;
  }


  .blog-text img {
    margin: 0 auto;
  }


}

.comments {
  background-color: #F8F8F8;
  padding: 50px;

  .commentSubmitSection {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding-bottom: 20px;
  }

  .mainInput {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.226);
  }

  textarea {
    width: 100%;
    padding: 10px;
    resize: none;
  }

  .commentSubmit {
    display: flex;
    justify-content: center;
  }

  .flex {
    display: flex;
  }

  .card {
    margin-bottom: 10px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.226);

    .title {
      display: flex;
      justify-content: space-between;

      .flex-end {
        align-self: flex-end;
      }
    }

    .content {
      border-bottom: 1px solid rgba(0, 0, 0, 0.226);
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;

      button {
        align-self: flex-end;
      }
    }
  }



  .replyButton {
    max-width: 60px;
  }

  .replies {
    margin-left: 50px;

    .card {

      background-color: #c6c6c6;
    }
  }
}