@import './_vars.scss';
@import "./navbar.scss";
@import "./iconNav.scss";
@import "./convertKit.scss";
@import "./collectionSlider.scss";
@import "./slide.scss";
@import "./my-blog.scss";
@import "../node_modules/bulma/bulma.sass";

$primary: 'Cabin',
serif;
$secondary: 'Lato',
sans-serif;
$tertiary: 'Roboto',
sans-serif;
$bold: 700;
$light: 200;

a {
  font-family: $secondary;
}

nav {
  max-height: 70px;
  height: 100%;
}

h2 {
  font-family: $secondary;
  font-weight: $bold;
  font-style: italic;
  font-size: 20px;
}

h1 {
  font-family: $primary;
  font-weight: $bold;
  font-size: 50px;
  color: $darkPurple;
}

p {
  font-family: $tertiary;
  font-size: 15px;
}

// for the searchbar in the navbar

.icon-button {
  border-radius: 0 8px 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding-right: 15px;
  padding-left: 15px;
}

//for a white background section
.white {
  background-color: $white !important;
}


.primary-button {
  background-color: $lightPurple;
  border: 2px solid $darkPurple;
  color: $white;
  font-family: $secondary;
  text-transform: uppercase;
  width: 90%;
}


.relative {
  position: relative;
}

.light-purple {
  background-color: $lightPurple;
}

.white-bg {
  background-color: $white;
}